/*.left-menu{
  margin: 0px;
  padding: 0px;
  background-color: #628d96;
  height: 662px;
}

.left-menu .collapsible-header{
  background-color: #628d96;
  color: white; 
}

.logo{
  margin-top: 25px;
}
*/