<!DOCTYPE html>
  <html id="home">
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../assets/css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

      <!-- navbar -->
      <div class="navbar-fixed">
        <nav class="white">
          <div class="container">
          <div class="nav-wrapper">
            <a href="../index.html" class="brand-logo"><img src="../img/logopi.png" class="responsive-img" width="150"></a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
             <li><a href="#home" class="page-scroll">Home</a></li>
              <li><a href="#artikel" class="page-scroll">Articles</a></li>
              <li><a href="#news" class="page-scroll">News</a></li>
              <li><a href="#event" class="page-scroll">Events</a></li>
              <li><a href="informasi.html" class="btn orange darken-2">Join Sekarang</a></li>
            </ul>
          </div>
          </div>
        </nav>
      </div>

      <!-- sidenav -->
      <ul class="sidenav" id="mobile-nav">
          <li><a href="#home" class="page-scroll">Home</a></li>
          <li><a href="#artikel" class="page-scroll">Articles</a></li>
          <li><a href="#news" class="page-scroll">News</a></li>
          <li><a href="#event" class="page-scroll">Events</a></li>
          <li><a href="informasi.html" class="btn orange darken-2">Join Sekarang</a></li>
      </ul>
      <!-- end sidenav -->

      <!-- end navbar -->

      <!-- parallax -->
      <div class="parallax-container">
        <div class="parallax"><img src="../img/bg-blog.jpg" width="1024">

        </div>

        <div class="header-blog center white-text">
          <img src="../img/logoputih.png" class="responsive-img">
        </div>
      </div>

      <!-- end -->

      <!-- artikel -->
      <section class="artikel" id="artikel">

        <div class="container">
          <h3 class="light grey-text center darken-3">Recent Post</h3>
           <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s4"><a href="#art_it">Artikel IT</a></li>
                <li class="tab col s4"><a href="#art_islami">Artikel ISLAMI</a></li>
              </ul>
            </div>



             <div id="art_it" class="col s12">
                <div class="col m6 s12"><h5>ARTIKEL IT</h5></div>
                <div class="input-field col m6 s12">
                  <i class="material-icons prefix">search</i>
                  <input id="cari" type="text" class="validate">
                  <label for="cari">Pencarian</label>
                </div>

              <div class="row">
              <div class="col s12 m3">
                <div class="card">
                <img src="../img/portfolio/1.png" class="responsive-img">
                  <div class="card-content">
                    <a href="detail.html"><h6 class="card-title activator grey-text text-darken-4">Heading Article 1</h6></a>
                  </div>
                </div>
              </div>

              <div class="col s12 m3">
                <div class="card">
                <img src="../img/portfolio/2.png" class="responsive-img">
                  <div class="card-content">
                    <a href="detail.html"><h6 class="card-title activator grey-text text-darken-4">Heading Article 2</h6></a>
                  </div>
                </div>
              </div>

              <div class="col s12 m3">
                <div class="card">
                <img src="../img/portfolio/3.png" class="responsive-img">
                  <div class="card-content">
                    <a href="detail.html"><h6 class="card-title activator grey-text text-darken-4">Heading Article 3</h6></a>
                  </div>
                </div>
              </div>

              <div class="col s12 m3">
                <div class="card">
                <img src="../img/portfolio/4.png" class="responsive-img">
                  <div class="card-content">
                    <a href="detail.html"><h6 class="card-title activator grey-text text-darken-4">Heading Article 4</h6></a>
                  </div>
                </div>
              </div>

              <div class="col s12 center"><button class="btn cyan darken-3 white-text">Artikel Lainnya ></button></div>
              </div>
          </div>

          <div class="col s12" id="art_islami">
            <div class="col m6 s12"><h5>ARTIKEL ISLAMI</h5></div>
                <div class="input-field col m6 s12">
                  <i class="material-icons prefix">search</i>
                  <input id="cari" type="text" class="validate">
                  <label for="cari">Pencarian</label>
                </div>
            <div class="row">
            <div class="col s12 m6 l3">
                <div class="card">
                <img src="../img/portfolio/2.png" class="responsive-img materialboxed">
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">yukngaji.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          </div>


          </div>
          </div>
       </section>
      <!-- end artikel -->

      <section class="news" id="news">
        <div class="container">
          <h3 class="light grey-text center darken-3">Pondok News</h3>
          <div class="row">
            <div class="col m6 s12"><h5>BERITA PONDOK</h5></div>
            <div class="input-field col m6 s12">
              <i class="material-icons prefix">search</i>
              <input id="cari" type="text" class="validate">
              <label for="cari">Pencarian</label>
            </div>

             <div id="terbaru" class="col s12">
              <div class="row">
              <div class="col s12 m4">
                <div class="card">
                <img src="../img/portfolio/1.png" class="responsive-img">
                  <div class="card-content">
                    <h6 class="card-title activator grey-text text-darken-4">Heading Article 1</h6>
                  </div>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="card">
                <img src="../img/portfolio/2.png" class="responsive-img">
                  <div class="card-content">
                    <h6 class="card-title activator grey-text text-darken-4">Heading Article 2</h6>
                  </div>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="card">
                <img src="../img/portfolio/3.png" class="responsive-img">
                  <div class="card-content">
                    <h6 class="card-title activator grey-text text-darken-4">Heading Article 3</h6>
                  </div>
                </div>
              </div>

              <div class="col s12 center"><button class="btn cyan darken-3 white-text">Berita Lainnya ></button></div>
              </div>
          </div>
        </div>
      </section>

      <!-- event -->
      <section class="event" id="event">

        <div class="container">
          <h3 class="light grey-text center darken-3">Event</h3>
           <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s4"><a href="#event_it">Event IT</a></li>
                <li class="tab col s4"><a href="#event_islami">Event ISLAMI</a></li>
              </ul>
            </div>

             <div id="event_it" class="col s12">

              <div class="row">

                <div class="col m6 s12"><h5>EVENT IT</h5></div>
                <div class="input-field col m6 s12">
                  <i class="material-icons prefix">search</i>
                  <input id="cari" type="text" class="validate">
                  <label for="cari">Pencarian</label>
                </div>

              <div class="col s12 m3">
                <div class="card">
                <img src="../img/portfolio/1.png" class="responsive-img">
                  <div class="card-content">
                    <h6 class="card-title activator grey-text text-darken-4">Heading Article 1</h6>
                  </div>
                </div>
              </div>

              <div class="col s12 m3">
                <div class="card">
                <img src="../img/portfolio/2.png" class="responsive-img">
                  <div class="card-content">
                    <h6 class="card-title activator grey-text text-darken-4">Heading Article 2</h6>
                  </div>
                </div>
              </div>

              <div class="col s12 m3">
                <div class="card">
                <img src="../img/portfolio/3.png" class="responsive-img">
                  <div class="card-content">
                    <h6 class="card-title activator grey-text text-darken-4">Heading Article 3</h6>
                  </div>
                </div>
              </div>

              <div class="col s12 m3">
                <div class="card">
                <img src="../img/portfolio/4.png" class="responsive-img">
                  <div class="card-content">
                    <h6 class="card-title activator grey-text text-darken-4">Heading Article 4</h6>
                  </div>
                </div>
              </div>

              <div class="col s12 center"><button class="btn cyan darken-3 white-text">Event Lainnya ></button></div>
              </div>
          </div>

          <div class="col s12" id="event_islami">
            <div class="col m6 s12"><h5>EVENT ISLAMI</h5></div>
              <div class="input-field col m6 s12">
                <i class="material-icons prefix">search</i>
                <input id="cari" type="text" class="validate">
                <label for="cari">Pencarian</label>
              </div>
            <div class="row">
            <div class="col s12 m6 l3">
                <div class="card">
                <img src="../img/portfolio/2.png" class="responsive-img materialboxed">
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">yukngaji.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          </div>


          </div>
          </div>
       </section>
      <!-- end event -->


       <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12 cya">
                <h5 class="white-text">Pondok Informatika</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Others</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Our Team</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright by Pondok Informatika
            <a class="grey-text text-lighten-4 right" href="#!">Admission@pondokinformatika.id</a>
            </div>
          </div>
        </footer>


      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="../assets/js/jquery-3.3.1.min.js"></script>
      <script type="text/javascript" src="../assets/js/jquery.easing.1.3.js"></script>
      <script type="text/javascript" src="../assets/js/materialize.min.js"></script>
      <script type="text/javascript" src="../assets/js/script.js"></script>
    </body>
  </html>
